/* seccion @import (bootstrap y google fonts)*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* universal */
*{
    margin: 0px;
    padding: 0px;
}

/* colores de la web
color naranja #ff4d05ff
color gris #292a2a
color gris oscuro #1f1f20 */

body{
  background-color: #1f1f20;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* ---------------------------INICIO HEADER */
header{
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fbf9f9ff;
}
div.header1{
  display: flex;
  padding-left: 25px;
  margin-top: 2px;  
  font-size: large;
}
h1.colorheader{
  color: #ff4d05ff;
}
div.header2{
  display: flex;
  text-align: end;
  font-size: large;
  p{
    padding: 15px;
    margin-right: 15px;
    color: #bfc0c0;
  }
  p.end{
    margin-right: 30px;
  }
}
/* -----------------------------FIN HEADER */

/* ------------------------INICIO SECCION HERO */
section.hero{
  /* background-image: url(../img/img1.jpg); */
  background-size: contain;
  background-repeat: no-repeat;
  height: 600px;
  padding-left: 25px;

}
div.hero1{
  display: flex;
  padding-top: 75px;  
  font-size: larger;
  p.color1{
    background-color: #ff4d05ff;
    border-style: none;
    border-radius: 10%;
    padding: 0.8px 14px;
  }
  p{
    padding: 1px 12px;
  }
}
div.hero2{
  padding: 18px 0px;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  h1{
    font-size: 70px;
  }
  div.flexd2hero{
    display: flex;
  }
  h2{
    font-size: 48px;
  }
  h2.color2{
    padding-left: 10px;
    font-size: 48px;
    color: #ff4d05ff;
  }
}
div.textohero{
  width: 600px;
  padding: 15px 0px;
  color: #b5b6b6ff;
  font-size: large;
  p{
    line-height: 38px;
  }
}
div.botonhero{
  display: flex;
  margin-top: 38px;
  button{
    background-color: #ff4d05ff;
    color: #fbf9f9ff;
    border-style: none;
    border-radius: 5% 5%;
    padding: 15px 25px;
    p{
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 15px;
      letter-spacing: 1px;
    }
  }
}
div.iconhero{
  margin: 5px 40px;
  i{
    background-color: #ff4d05ff;
    color: white;
    border-style: none;
    border-radius: 100%;
    padding: 10px 15px;
    font-size: 28px;
  }
}
/* -----------------------------FIN SECCION HERO */

/* ----------------------------INICIO SECCION UNO 1 */
section.s1{
  background-color: #292a2a;
  display: flex;
}
div.img1{
  margin: 110px 30px;
}
div.textoseccion1{
  margin: 185px 30px 0px 222px
}
div.flextitulo1{
  display: flex;
  h1{
    font-size: 49px;
  }
  h1.colorseccion1{
    color: #ff4d05ff;
    margin-left: 10px;
  }
}
h2.subtitulos1{
  font-size: 26px;
  padding-top: 5px;
}
div.pseccion1{
  color: #b5b6b6ff;
  margin-top: 30px;
  font-size: large;
  line-height: 30px;
}
/* ---------------------------AQUI */

section.s2{
  text-align: center;
}
div.s2d2{
  background-color: #292a2a;
  display: flex;
  text-align: start;
}

section.s3{
  background-color: #292a2a;
  text-align: center;
}
div.s3d2{
  display: flex;
}
div.s3d3{
  display: flex;
}

section.s4{
  display: flex;
}

footer{
  display: flex;
  justify-content: space-between;
}

/* .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
} */