/* seccion @import (bootstrap y google fonts)*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Inclusive+Sans:ital@0;1&display=swap');

/* seccion com universal */
*{
    margin: 0px;
    padding: 0px;
}

/* colores de la web
color naranja #ff4d05ff
color gris #292a2a
color gris oscuro #1f1f20 */

/* fuentes
.didact-gothic-regular {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .inclusive-sans-regular {
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inclusive-sans-regular-italic {
    font-family: "Inclusive Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  } */
  
body{
  color: white;
  background-color: #1f1f20;
}
header{
    
}
section.hero{
  padding: 50px 400px 50px 20px;
  background-image: url(../img/img1.jpg);
  background-size: contain;
  }
section.dos{
  background-color: #292a2a;
  display: inline-flex;
  text-align: top;
}
section.dosymedio{
  text-align: center;
}
section.tres{
  display: flex;
  text-align: top;
}
section.cuatro{
  background-color: #292a2a;
  div{
    text-align: center;
  }
}
div.div8{
  background-color: #292a2a;
}
div.div9{
  background-color: #292a2a;
}
div.div10{
  background-color: #292a2a;
}